<div class="row">
    <div class="col-10 col-md-10">
        <h1 class="">
            {{dataIn.title}}
        </h1>
    </div>

    <div class="col-2 col-md-2" style="text-align: right;">
        <button class="close" mat-button (click)="closeModal()">X</button>
    </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="performRequest()">
    <div class="row">
        <div *ngIf="!dataIn.isInventory" class="col-md-4">
            <mat-form-field appearance="outline" class="fullWidth">
                <mat-label for="name">Name</mat-label>
                    <input matInput id="name" formControlName="name" class="form-control" name="name">
            </mat-form-field>
        </div>

        <div *ngIf="dataIn.isInventory" class="col-md-4">
            <mat-form-field appearance="outline" class="fullWidth">
                <mat-label>Producto</mat-label>
                <input type="text" class="autoInput" matInput placeholder="Product" id="productsWrapper"
                    #productWrapper formControlName="product" [matAutocomplete]="autoProduct">
                <button type="button" class="searchbarSuffix fsize22 transperent" *ngIf="addForm.get('product').value" matSuffix
                    aria-label="Clear" (click)="addForm.get('product').setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFn">
                    <mat-option disabled>Select one product</mat-option>
                    <mat-option *ngFor="let product of (productOptions )" [value]="product">
                        {{product.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="outline" class="fullWidth">
                <mat-label for="quantity">Cantidad</mat-label>
                <input matInput id="quantity" formControlName="quantity" class="form-control" name="quantity" type="number">
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <!----------------------->
        <!-- cancel button -->
        <div class=" ml-2" style="padding-right: 10px;">
            <button class="dBtn white" mat-stroked-button matRipple (click)="closeModal">
                <span class="">Cancel</span>
            </button>
        </div>

        <!----------------------->
        <!-- new button -->
        <div class=" ml-2">
            <button class="dBtn purple" mat-stroked-button matRipple type="submit" [disabled]="disableButton">
                <span class="">Save</span>
            </button>
        </div>
    </div>
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
</form>